{{ define "verifyPage" }}
<!DOCTYPE html>
<html>
<head>
    <title>Newdash.io</title>
    <link href="/css/shared.css" rel="stylesheet">
</head>
<body>
    <h1><a class="basic" href="/">Newdash.io</a> - The new home for your Redash hosting</h1>
    <h2>Thank you for verifying your email address</h2>
    <p>We'll notify you of important progress and launch details over the coming weeks</p>
    <div>In the meantime, if you want to install the latest Redash beta locally on your Ubuntu 20.04 LTS</div>
    <div>system, use the updated setup.sh script here: <a href="https://github.com/getnewdash/setup">https://github.com/getnewdash/setup</a></div>
</body>
</html>
{{ end }}